h1 {
  font-weight: 700;
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1rem;
  color: #A1A5A3;
  line-height: 1.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
  color: #111827;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.section {
  padding-block: 5rem;
}
@media (max-width: 768px) {
  .section {
    padding-block: 3rem;
  }
}

.section-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #111827;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.page .container header {
  height: 70px;
}
.page .container header figure img {
  width: 40px;
}
.page .container header nav {
  position: relative;
}
.page .container header nav i {
  cursor: pointer;
}
.page .container header nav:hover ul {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.page .container header nav ul {
  position: absolute;
  top: 40px;
  right: 0;
  width: 300px;
  background-color: #eee;
  padding: 15px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(40px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.page .container header nav ul::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  top: -20px;
  right: 5px;
  border-bottom-color: #eee;
}
.page .container header nav ul li {
  padding: 0.5rem 0;
  transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -ms-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  cursor: pointer;
}
.page .container header nav ul li:not(:last-child) {
  border-bottom: 1px solid rgb(207, 207, 207);
}
.page .container header nav ul li:hover {
  padding-left: 15px;
}
@media (min-width: 768px) {
  .page .container header nav ul {
    width: 500px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -15px;
}

[class*=col-] {
  padding-inline: 15px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
.page section.landing {
  background-image: url(/src/assets/images/hero/m16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
}
.page section.landing .intro-text {
  flex-direction: column;
  color: #34BCAC;
}
.page section.landing .intro-text h1 {
  margin-bottom: 10px;
}
.page section.landing .intro-text p {
  width: 320px;
  text-align: center;
  color: #A1A5A3;
}

.page section.features {
  padding-block: 5rem;
}
@media (min-width: 768px) {
  .page section.features {
    padding-block: 3rem;
  }
}
.page section.features .container .row .feature-card > div {
  flex-direction: column;
  padding: 25px;
}
.page section.features .container .row .feature-card > div i {
  color: #34BCAC;
  margin-bottom: 20px;
  font-size: 35px;
}
.page section.features .container .row .feature-card > div h3 {
  color: #111827;
  font-size: 1rem;
}
.page section.features .container .row .feature-card > div p {
  color: #A1A5A3;
  text-align: center;
  width: 230px;
  font-size: 0.8rem;
}
.page section.features .container .row .feature-card:nth-child(2) {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
@media (min-width: 768px) {
  .page section.features .container .row .feature-card:nth-child(2) {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 992px) {
  .page section.features .container .row .feature-card:nth-child(2) {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 768px) {
  .page section.features .container .row .feature-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
}