@use 'variables' as *;
@use 'mixins.scss' as *;



// ================================
// Heading Styles
// ================================
h1 {
    font-weight: $fw-bold;
    @include font-responsive(2rem, 3rem);

}

h2 {
    font-weight: $fw-semibold;
    @include font-responsive(1.75rem, 2.5rem);

}

h3 {
    font-weight: $fw-semibold;
    @include font-responsive(1.5rem, 2rem);

}

h4 {
    @include font-responsive(1.25rem, 1.5rem);
}

p {
    font-size: $fs-base;
    color: $text-gray;
    line-height: 1.7;
}