@use "../base/variables" as *;
@use "../base/mixins" as *;

.page {
    section.about {
        @include section-padding;

        .container {
            .row {
                .content {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding-top: 60px;
                    width: 100%;

                    figure {
                        position: relative;
                        display: none;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;


                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: -20px;
                            right: -90px;
                            height: 70%;
                            width: 78px;
                            color: black;
                            border-left: 70px solid $color-primary;
                            border-bottom: 55px solid $color-primary;
                            z-index: -1;
                        }

                        @include respond("md") {
                            display: block;
                        }
                    }

                    .about-info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        p {
                            color: $text-dark;
                            font-weight: $fw-semibold;
                            max-width: 400px;
                            text-align: justify;
                            position: relative;
                        }

                        & p:first-of-type::after {
                            content: "";
                            position: absolute;
                            width: 50%;
                            left: 0;
                            bottom: -20px;
                            border-bottom: 3px solid #3cddcb;
                        }

                        & p:last-of-type {
                            font-size: .8rem;
                            color: $text-gray;
                            margin-top: 40px;
                        }



                        @include respond("md") {
                            padding-left: 170px;

                            p {
                                width: 330px;
                            }

                        }

                        @include respond("lg") {
                            padding-left: 100px;

                            p {
                                width: 400px;
                            }

                        }
                    }
                }
            }
        }
    }
}