@use "../base/variables" as *;
@use "../base/mixins" as *;


.page {
    section.landing {
        background-image: url("../../assets/images/hero/m16.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 70px);

        .intro-text {
            flex-direction: column;
            color: $color-primary;

            h1 {
                margin-bottom: 10px;
            }

            p {
                width: 320px;
                text-align: center;
                color: $text-gray;
            }
        }
    }
}