@use "../base/variables" as *;
@use "../base/mixins" as *;

.page {
    section.portfolio {
        background-color: $bg-gray;
        @include section-padding;

        .container {
            .row {
                .projects-cards {
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 60px;
                    padding-bottom: 40px;

                    .p-card {
                        margin-bottom: 30px;
                        cursor: pointer;

                        figure {
                            overflow: hidden;
                            height: 210px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;

                                transition: transform .4s ease;
                                -webkit-transition: transform .4s ease;
                                -moz-transition: transform .4s ease;
                                -ms-transition: transform .4s ease;
                                -o-transition: transform .4s ease;
                            }
                        }

                        .p-card-info {
                            padding: 10px;
                            background-color: $color-white;

                            h3 {
                                font-size: 1rem;
                                color: $text-dark;

                            }

                            p {
                                font-size: .8rem;
                                color: $text-gray;
                            }
                        }

                        &:hover img {
                            filter: blur(.5px);
                            transform: scale(1.08);
                            -webkit-transform: scale(1.08);
                            -moz-transform: scale(1.08);
                            -ms-transform: scale(1.08);
                            -o-transform: scale(1.08);
                            -webkit-filter: blur(.5px);
                        }
                    }
                }

                .show-btn {
                    >a {
                        padding: 10px 20px;
                        font-weight: $fw-medium;
                        cursor: pointer;
                        border: 1px solid $color-border;
                        position: relative;
                        transition: left .4s ease, opacity .4s ease;

                        &::after {
                            content: "";
                            position: absolute;
                            //left: -100%;
                            left: 0;
                            bottom: 0;
                            border-bottom: 3px solid $color-primary;
                            width: 0;
                            opacity: 0;
                            transition: width .4s ease, opacity .4s ease;
                            -webkit-transition: width .4s ease, opacity .4s ease;
                            -moz-transition: width .4s ease, opacity .4s ease;
                            -ms-transition: width .4s ease, opacity .4s ease;
                            -o-transition: width .4s ease, opacity .4s ease;
                        }

                        &:hover::after {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }
}