// ============================
// 12 Column Grid System
// ============================

@use "../base/variables" as *;

// Container
.container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 15px;

    @media (min-width: $bp-sm) {
        max-width: 540px;
    }

    @media (min-width: $bp-md) {
        max-width: 720px;
    }

    @media (min-width: $bp-lg) {
        max-width: 960px;
    }

    @media (min-width: $bp-xl) {
        max-width: 1140px;
    }
}

// Row
.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -15px;
}

// Column Base Style
[class*="col-"] {
    padding-inline: 15px;
    box-sizing: border-box;
}

//  Generate 12 columns
// .col-1 to col-12 => width percentage
@for $i from 1 through 12 {
    .col-#{$i} {
        width: calc((100% / 12) * $i);
    }
}

// Responsive Columns
// col-sm-* => from 576px
// col-md-* => from 768px
// col-lg-* => from 992px
// col-xl-* => from 1200px

@media (min-width: $bp-sm) {
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            width: calc((100% / 12) * $i);
        }
    }
}

@media (min-width: $bp-md) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            width: calc((100% / 12) * $i);
        }
    }
}

@media (min-width: $bp-lg) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            width: calc((100% / 12) * $i);
        }
    }
}

@media (min-width: $bp-xl) {
    @for $i from 1 through 12 {
        .col-xl-#{$i} {
            width: calc((100% / 12) * $i);
        }
    }
}