@use "../base/variables" as *;
@use "../base/mixins" as *;

.page {
    header {
        .container {
            .row {
                .content {
                    padding: 15px;

                    figure {
                        img {
                            width: 40px;
                        }
                    }

                    nav {
                        position: relative;

                        i {
                            cursor: pointer;
                        }

                        &:hover ul {
                            opacity: 1;
                            pointer-events: auto;
                            transform: translateY(0);
                            -webkit-transform: translateY(0);
                            -moz-transform: translateY(0);
                            -ms-transform: translateY(0);
                            -o-transform: translateY(0);
                        }

                        ul {
                            position: absolute;
                            top: 40px;
                            right: 0;
                            width: 300px;
                            background-color: $bg-gray;
                            padding: 15px;

                            // animation props
                            opacity: 0;
                            pointer-events: none;
                            transform: translateY(40px);
                            transition: opacity .4s ease, transform .4s ease;

                            @include border-r($radius-sm);

                            &::before {
                                content: "";
                                position: absolute;
                                border: 10px solid transparent;
                                top: -20px;
                                right: 5px;
                                border-bottom-color: #eee;
                            }

                            li {
                                padding: $space-xs 0;
                                transition: padding .3s;
                                -webkit-transition: padding .3s;
                                -moz-transition: padding .3s;
                                -ms-transition: padding .3s;
                                -o-transition: padding .3s;
                                cursor: pointer;

                                &:not(:last-child) {
                                    border-bottom: 1px solid rgb(207, 207, 207);
                                }

                                &:hover {
                                    padding-left: 15px;
                                }

                            }
                        }


                        @include respond("md") {
                            ul {
                                width: 500px;
                            }
                        }
                    }
                }
            }
        }
    }
}